body {
    margin: 0px;
    padding: 0;
    font-size: 13px; 
    font-family: Arial, Helvetica, Geneva
}

h1, h2{
    margin-top: 0;
}

a:hover {
    color:yellowgreen;
}

/* Header */
#header {
    padding: 0px;
    margin: 0px;
    height: 110px; 
    position: relative;
}

.myLayoutStyle .ui-layout-unit-content{
    background: whitesmoke;
}

.title {
    height: 30px;
    margin-left: 10px;
    padding: 8px 0 0 20px;
}

.headerH2 {
    font: 2.1em Arial monospace sans-serif;
    border-left: 3px solid #FFAE20;
    margin-left: 30px;
    padding-left:20px;
    letter-spacing: 1.2px;
}

.subhead {
    font: 1.8em Arial monospace sans-serif;
    letter-spacing: 1.0px;
}

.ui-tree-horizontal .ui-treenode-content {
    font-weight: bold;
    width: 200px !important;
}

#footer {
    padding: 0px;
    position: relative;
    text-align: center;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    margin-left:4px;
    margin-right: 20px;
}

.ui-widget {
    font-size: 12px !important;
}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;
}

.ui-widget-header {
    padding-left: 10px !important;
    color: #2779aa !important;
}
.panelColumns td {
    vertical-align: top; 
} 

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.affaires .ui-menuitem-text{color:black;}

.ui-tabs-nav {
    background: none !important;
}

.ui-datatable .ui-datatable-footer {
    text-align: right;
    padding: 4px 10px;
}

.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}

a.changeBlue:hover { /* change to blue on mouseover */
    color: #FFAE20;
    font-size: 110%;
    text-decoration: underline;
}

.myui-state-default{
    color:#0099ff;
}

.floater { float:left;}
.non-floater { overflow:hidden; }
iframe { width:100%; padding:0; border:0; height:100%; }

ui-layout-resizer, .ui-layout-resizer-south, .ui-layout-resizer-open, .ui-layout-resizer-south-open{ height:0px !important; }

strong {
    font-weight: bold;
    color: #000;
}

table.nopadding td {
    padding: 0;
}

.helpTip{
    width: 600px;
    line-height: 1.6em;
    background: #ffe7bd;
    padding-left: 10px
}

.old {
    background-color: #6CE26C !important;
    background-image: none !important;
    color: #000000 !important;
}

.icon-pdf {
    background:url('../images/icon_pdf.gif') no-repeat !important;
    height:11px;
    width:11px;
    padding-right: 6px;
    padding-top: 4px;
}

div[id="form1:listTbl"] thead {
    font-size:11px;
    font-weight:bold; 
}

div[id="form1:listTbl"] tbody {
    font-size:11px;
}

.ui-layout-unit .ui-layout-unit-content {
    padding: 0em 0em !important;
}

.ui-growl-icon-close {
    width: 100%;
    height: 100%;
    background-image: none!important;
}

.mybreadcrumb{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px !important;
    font-weight: normal !important;
    border: none;
    display: block;
    background: none;
    text-decoration: underline;
}

.ui-panelgrid .firstcolumn{
    background: #8BC1FF;
    color: #000000;
    font-weight: bold
}

.ui-datalist-content{  
    border: 0px; 
    background: none
}  

.btnBckg1 {
    border-radius: 50%;
    width: 182px;
    height: 182px; 
    font-size: 12px !important;
    border:solid thin #95B8E7;
}

.btnBckg1:hover {  
    border:solid medium salmon;
    background: #A8CBF5;
    color:blue !important;
}
.btnBckg1:focus {
    outline:none;
}

.btnBckg3 {
    font-size: 12px !important;
    border:solid thin #95B8E7;
}

.btnBckg3:hover {  
    border:solid medium salmon;
    font-size: 12px !important;
    background: #A8CBF5;
    color:black !important;
}
.btnBckg3:focus {
    outline:none;
    color:black !important;
}

.btnBckg {
    border-radius: 50%;
    width: 150px;
    height: 150px; 
    font-size: 12px !important;
    background:white;
    border:solid thin #95B8E7;
}

.btnBckg:hover {  
    border:solid medium salmon;
    color:blue !important;
}
.btnBckg:focus {
    outline:none;
}

.selectable td.ui-selection-column input {
    display:none;
}

.unselectable td.ui-selection-column input {
    display:block;
}

#gradRedYellow {
    height: 25px;
    width: 200px;
    background: red;
    background: -webkit-linear-gradient(-90deg, red, yellow);
    background: -o-linear-gradient(-90deg, red, yellow);
    background: -moz-linear-gradient(-90deg, red, yellow);
    background: linear-gradient(-90deg, red, yellow);
}

#gradRedWhite {
    height: 25px;
    width: 200px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/
}


#gradRedGreyGreen {
    height: 25px;
    width: 200px;
    background: red; 
    background: -webkit-linear-gradient(left,green,grey,red);
    background: -o-linear-gradient(left,green,grey,red);
    background: -moz-linear-gradient(left,green,grey,red);
    background: linear-gradient(to right, green,grey,red); 
}

#gradRedYellowGreenBlue {
    height: 25px;
    width: 200px;
    background: red; 
    background: -webkit-linear-gradient(left,blue, green, yellow, orange, red);
    background: -o-linear-gradient(left,blue, green, yellow, orange, red);
    background: -moz-linear-gradient(left,blue, green, yellow, orange, red);
    background: linear-gradient(to right,blue, green, yellow, orange, red); 
}

#defaultgradient_b {
    height: 25px;
    width: 90px;
    background: red; 
    background: -webkit-linear-gradient(left,white, orange, red);
    background: -o-linear-gradient(left,white, orange, red);
    background: -moz-linear-gradient(left,white, orange, red);
    background: linear-gradient(to right,white, orange, red); 
}

#defaultgradient_w {
    height: 25px;
    width: 90px;
    background: red; 
    background: -webkit-linear-gradient(left,#8247FF, #ff47e2, #FF4747);
    background: -o-linear-gradient(left,#8247FF, #ff47e2, #FF4747);
    background: -moz-linear-gradient(left,#8247FF, #ff47e2, #FF4747);
    background: linear-gradient(to right,#8247FF, #ff47e2, #FF4747); 
}

.ui-layout-south {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-south .ui-layout-unit-content {
    overflow:visible !important;
}

.myLayoutStyle .ui-layout-unit-content{
    border-left: lightgray dotted thin !important;
    padding-left: 20px !important;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.myAnalColorLayoutStyle .ui-layout-unit-content{
    border-left: dashed thin !important;
}

.myColorLayoutStyle .ui-layout-unit-content{
    background: #f6f5ef !important;
}

.myHeadlessColorLayoutStyle .ui-layout-unit-content{
    background: #edfafc !important;
}

.ui-widget-content .ui-state-highlight{
    background: lightsalmon !important;
}


.ui-tree .ui-treenode.nofirst:first-child > .ui-treenode-content {
    display: none;
}

.hide-column-names table thead tr {
    display: none;
}

.customHmDialog {
    color : #ECEADF;
}

.btnBckg2 {
    border-radius: 50%;
    width: 166px;
    height: 166px; 
    background:white;
    text-shadow: none !important;
    box-shadow: none !important;
    border:solid thin  #f2f8ff !important;
}

.btnBckg2:hover {  
    border:solid medium salmon !important;
}
.btnBckg2:focus {
    outline:none;
}
